.env
server/.env
client/.env 

server/node_modules/
client/node_modules/

.node_modules/
dist/
build/
.vscode/
.DS_Store
npm-debug.log
.idea/
*.log
*.tsbuildinfo
.cache/
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig

